$color-light: #ffffff;
$color-dark: #1a1a1a;
$color-golden: #eabd83;
$color-blue: #23232f;
$color-brown: #af7965;

$color-gray: #f8f9fa;
$shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%), 0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%);
$shadow-hover: 0 1rem 2.5rem 1rem rgb(0 0 0 / 10%);