.footer {
    padding: 2rem 0 1.5rem;
    background-color: $color-dark;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 18rem;
        height: 6rem;
        background-image: url("assets/svg/rs_school_js.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.4s linear;

        &:hover {
            background-image: url("assets/svg/rs_school_js_hover.svg");
        }
    }
}

.fa-github {
    color: $color-golden;
    font-size: 7rem;
    transition: all 0.5s linear;

    &:hover {
        color: $color-light;
    }
}