.section-work {
    padding: 3rem 0 4rem;
    background-color: $color-gray;
}

.work {
    &__subtitle {
        padding: 0.5rem 0;
    }

    &__timeline {
        display: block;
    }

    &__item {
        position: relative;
        padding: 2rem 0;
        width: 98%;
        box-shadow: $shadow;
        @extend %transition;

        @include respond-to('l') {
            width: 100%;
        }

        &:hover {
            box-shadow: $shadow-hover;
        }

        &::before {
            content: "";
            position: absolute;
            left: -4rem;
            height: 1rem;
            width: 1rem;
            background-color: $color-light;
            border: 0.3rem solid $color-brown;
            border-radius: 50%;

            @include respond-to('s') {
                left: -3rem;
            }
        }
    }

    &__items {
        padding-left: 3rem;
        border-left: 0.2rem solid $color-brown;

        @include respond-to('s') {
            padding-left: 2rem;
        }
    }

    &__subtitle {
        display: block;
    }

    &__text {
        display: block;
    }

    &__image-wrapper {
        overflow: hidden;

        @include respond-to('l') {
            margin: 2rem auto 0;
            width: 100%;
        }
    }

    &__image {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        @extend %transition;

        @include respond-to('l') {
            width: 100%;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}