@font-face {
    font-family: 'Nunito';
    src: url("assets/fonts/nunito/Nunito-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: url("assets/fonts/nunito/Nunito-SemiBold.ttf");
    font-weight: 600;
}